{{ template "header.tmpl" .}}

<!-- This is for the main body, with the image -->

<h1>Watch a duck battle!</h1>
<!-- src is for the image-->
<iframe width="900" height="500" src="https://www.youtube.com/embed/k4rpI3MzsXw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


{{ template "footer.tmpl" .}}