
<h3>This is the footer man, not into human feet or webbed human feet, only palmate feet which is duck feet. But not in a weird way. Just in a duck way. Actually YOU KNOW WHAT?! I do not need to explain why I like duck feet to you! You just have to know that they are beautiful and dangerous! They wiped out dinosaurs with the powers of Duck Fu! Also, the language is Czech in the video.</h3>
</body>
</html>