<!DOCTYPE html>
<html lang="en">
<!-- This is the header page, I created it outside the other html pages and then just add them to each, less code this way -->

<head>
    <meta charset="UTF-8">
    <title>Ducks</title>
    <!-- calls the css style sheet -->
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body style = "background-color: grey">
<h1 style = "background-color: lightskyblue; text-align:center">Josiah's Duck Video Website</h1>
